div.container-fluid{
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0 auto;
  padding: 0;
}

a {
  color: #00B7FF;
}


/* CROWDSALE */

section#crowdsale_wrap{
  color: white;
  background-image: url('/images/background.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin: 0;
  padding: 0
}

section#crowdsale_wrap h3 , section#crowdsale_wrap h4 , section#crowdsale_wraph5 {
  font-size: 20px;
  padding: 10px;
  margin: 15px 0 ;
}


div#crowd h2{
  color: white;
  padding: 10px;
  margin: 5px 0;
}

/* HEADER */

header{
  height: 80vh;
  background-image: url('/images/background.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

div.overParticle{
position: absolute;
margin: 0;
padding: 0;
height: auto;
top:0;
left:0;
z-index: 10000;
height: 100%;
}

#login_wrap{
  height: 60vh;
  margin: 0;
  padding: 0;
}
#login_wrap div form label input {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
}
#login_wrap div form label span input {
  margin: 0 6px 0 0 !important;
  padding: 2px !important;
}
#login_wrap div form label span p {
  font-size: 12px;
}
div #logo{
  width: auto;
  height: auto;
  /*min-width: 50%;
  max-width: 100%;
  min-height: 50%;
  max-height: 100%;*/

  right: 0;
}

/* NAVBAR */
#navWrap{
  /*height: 20vh;*/
}
#navbar {
  padding: 2px;
  margin: 25px 0;
}

#navbar div a {
  padding: 15px;
  font-size:20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

#navbar div a:hover{
  text-decoration: none;
  color: white;
}

form label span p {
  color: white;
}

/* NEWS */

#news div h2 {
  padding: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

/* Particle js*/

header div.particle {
position:absolute;
height: 79vh;
z-index: 2;
padding:0;
margin:0;
}

div .second_particle{
  position: relative;
  top:0;
  left:0;
  z-index: 10;
  height: 50vh !important;
}
